*/Binaries
*/Build
*/DerivedDataCache
*/Intermediate
*/Saved
*.VC.db
*.vs
BuildingEscape/Content/StarterContent/HDRI
BuildingEscape/Content/StarterContent/Textures
*.opendb
*.ipch
BuildingEscape/Content/StarterContent/Architecture/
BuildingEscape/Content/StarterContent/Audio/
BuildingEscape/Content/StarterContent/Blueprints/
BuildingEscape/Content/StarterContent/Maps/
BuildingEscape/Content/StarterContent/Materials/
BuildingEscape/Content/StarterContent/Particles/
BuildingEscape/Content/StarterContent/Props/SM_WindowFrame.uasset
BuildingEscape/Content/StarterContent/Props/SM_PillarFrame.uasset
BuildingEscape/Content/StarterContent/Props/SM_MatPreviewMesh_02.uasset
BuildingEscape/Content/StarterContent/Props/SM_Lamp_Wall.uasset
BuildingEscape/Content/StarterContent/Props/SM_Shelf.uasset
BuildingEscape/Content/StarterContent/Props/SM_Rock.uasset
BuildingEscape/Content/StarterContent/Props/SM_PillarFrame300.uasset
BuildingEscape/Content/StarterContent/Props/SM_Lamp_Ceiling.uasset
BuildingEscape/Content/StarterContent/Props/SM_TableRound.uasset
BuildingEscape/Content/StarterContent/Props/SM_Statue.uasset
BuildingEscape/Content/StarterContent/Props/SM_GlassWindow.uasset
BuildingEscape/Content/StarterContent/Props/SM_DoorFrame.uasset
BuildingEscape/Content/StarterContent/Props/SM_Stairs.uasset
BuildingEscape/Content/StarterContent/Props/SM_Couch.uasset
BuildingEscape/Content/StarterContent/Props/SM_CornerFrame.uasset
BuildingEscape/Content/StarterContent/Props/MaterialSphere.uasset
BuildingEscape/Content/StarterContent/Props/SM_Chair.uasset
BuildingEscape/Content/StarterContent/Props/SM_Bush.uasset
BuildingEscape/Content/StarterContent/Props/Materials/
BuildingEscape/Content/StarterContent/Shapes/
